<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.chatsocket_demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <service
            android:name="com.mnyun.chatsocket.ChatService"
            android:process=":mnyChat"
            />
        <receiver android:name="com.mnyun.chatsocket.StartChatServiceReceiver">
            <intent-filter>
                <action android:name="com.mnyun.chatsocket.action.start"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.TIME_TICK" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.mnyun.chatsocket.RNChatSocketModule$ChatBroadcastReceiver">
            <intent-filter>
                <action android:name="com.mnyun.chatsocket.action.chat" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.mnyun.chatsocket.NotificationLaunchReceiver"></receiver>
        <receiver android:name="com.mnyun.chatsocket.ShowChatNotificationReceiver">
            <intent-filter>
                <action android:name="notification_cancelled"/>
                <action android:name="notification_clicked"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
